
/* Login: */

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  position: relative;
  display: flex;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.display-login{
    position:relative;
    transform: translate(-50%, -50%);
    top: 40%;
    left:50%;
    z-index:40;
}

.login-container{
    position:relative;
    transform: translate(-50%, -50%);
    top:42%;
    left:50%;
    z-index:10;
    width:300px;
    height: 250px;
    background-color:#971b32a1;
}

.login-container-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#971b32a1;
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  width:900px;
  height:500px;
  margin-top: 10%;
  margin-left:10%;
  margin-right:10%;
  text-align: center;
  border-radius: 2%;
  margin-bottom: 8%;
}

.lib-logo-and-text{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
    position:absolute;
    top:10%;
    z-index: 10;
    padding:10px;
    display:flex;
    color: #3c4043;
}
/* Register */

.register-container-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#971b32a1;
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  width:900px;
  height:500px;
  margin-top: 10%;
  margin-left:10%;
  margin-right:10%;
  text-align: center;
  border-radius: 2%;
}

/* Profile */

.profile-sidebar-container {
  display: flex;
}

.profile-container-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#971b32a1;
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 1200px;
  height: 400px;
  margin-top: 11%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 2%;
  flex: 1;
}

.dropdown-container-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#971b32a1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 1200px;
  height: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5px;
  margin-right: 500%;
  text-align: center;
  border-radius: 2%;
  flex: 1;
  top:1000px;
}

body {
  overflow-x: hidden;
}

.sidebar-container-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#971b32a1;
  /* display: flex; */
  flex-wrap: wrap;
  padding: 10px;
  width: 300px;
  height: auto;
  margin-top: 8%;
  margin-bottom: 2%;
  margin-left: 5%;
  border-radius: 2%;
  flex: 0 0 200px;
}

.dropdown-info-container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#971b32a1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 1200px;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-radius: 2%;
  flex: 1;
  top:1000px;
}

/* Search Bar */
.search-container {
  display: flex;
  position: absolute;
  margin-left:20px;
  margin-top:10px;
 border-radius:20px;
}

.search-container input {
  flex: 1; /* Each search bar takes up equal space */
  margin-right: 5px; /* Add space between search bars */
}

.search-with-button {
  display: flex;
}

.search-with-button input {
  flex: 1; /* Input takes up remaining space */
}

.search-with-button button {
  margin-left: 2px; /* Add space between input and button */
}

/* Nav Bar */
.desktop-nav {
  overflow: hidden;
  background-color: #971b32a1;
  box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px;
  display:flex;
  justify-content: flex-start;
  top:60px;
  position:absolute;
  width:100vw;
  height:50px;
  z-index: -1;
  margin-top:7px;
  margin-bottom:10px;
  padding:30px;
}

.desktop-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 0%;
  padding-left: 0px;
  align-items: center;
}

.desktop-nav ul li {
  position: relative;
}

.desktop-nav ul li a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  font-size: 20px;
  text-decoration: none;
}

.desktop-nav ul li a:hover {
  background-color: #971b32;
}


.dropdown {
  display: none;
  position: relative;
  background-color: #971b32a1;
  box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px;
  z-index: 1;
}
.dropdown-button {
  position: relative;
  background-color: #971b32a1; /* Background color */
  box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px; /* Box shadow */
  z-index: 100;
  display: block;
  color: #f2f2f2; /* Text color */
  text-align: center;
  padding: 14px 20px; /* Padding */
  font-size: 20px; /* Font size */
  text-decoration: none;
}

.dropdown-button:hover {
  background-color: #971b32; /* Background color on hover */
}

.desktop-nav ul li:hover .dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li a {
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown ul li a:hover {
  background-color: #971b32;
}

.dropdown-show{
  position:absolute;
  display:block;
}
  .container {
    position:relative;
    top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 1000px;
  }

  .featured-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    display:flex;
    position:relative;
    flex-wrap: wrap;
    padding: 20px;
    width:1200px;
    height:600px;
    right:10px;
    margin-right:100px;
    margin-left:100px;
    text-align: center;
    border-radius: 2%;
  }

  .book-cover{
    background-color: #971b32a1;
    box-shadow: rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px;
    padding: 0px;
    width:850px;
    height:500px;
    text-align: center;
  }
  
  .featured-image{
    width: 350px;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:25px;
  }

  .image-container {
    margin-top: 20px;
    display: flex;

  }
  
  .image-container img {
    
    margin: 0 25px; /* Add space between images */
  }

  .donation-button {
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 179, 206);
    border-color: rgb(96, 179, 206);
    padding:25px;
    border-radius: 15px;
    cursor: pointer;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  }
  
  .donation-button:hover {
    background-color: #5b9bbb;
    border-color: #5b9bbb;
  }
  
  .donation-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(96, 179, 206, 0.5);
  }
  
  .donation-button:active {
    background-color: #468192;
    border-color: #468192;
  }
  
